@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 

   .blog-image{
    max-width:400px;
    float:left;
    margin-right:16px;
   }
}

 *, :before, :after{
        border-style:none;
    }
